In [ ]:
from dual_eval_2 import run_dual_eval

In [4]:
from dual_eval_2 import run_dual_eval

run_dir = "../models/dual_sequential/42c05d4a-c27e-40b2-bb14-8cc4e00d6102"
df = run_dual_eval(
    run_dir=run_dir,
    a_examples=[2, 4],
    b_examples=[3, 6],
    trials=20,
    batch_size=None,
    step=-1,      # loads state.pt
    device="cpu", # forces CPU
)

df

                 quadratic_3  quadratic_6
linear_examples
2                   1.987062     0.588434
4                   1.814025     0.801759