In [ ]:
from dual_eval_2 import run_dual_eval

run_dir_sequential = "../models/dual_sequential/42c05d4a-c27e-40b2-bb14-8cc4e00d6102"
sequential_df, sem_df = run_dual_eval(
    run_dir=run_dir_sequential,
    a_examples=[0, 2, 5, 7, 10, 15, 20, 25, 30],
    b_examples=[2, 5, 7, 10, 15, 20, 25, 30, 35],
    trials=20,
    batch_size=None,
    step=-1,      # loads state.pt
    device="cpu", # forces CPU
)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [ ]:
run_dir_mixed = "../models/dual_mixed/4c0cb825-67fb-4ef5-93e9-81f73946620e"
mixed_df = run_dual_eval(
    run_dir=run_dir_mixed,
    a_examples=[0, 2, 5, 7, 10, 15, 20, 25, 30],
    b_examples=[2, 5, 7, 10, 15, 20, 25, 30, 35],
    trials=20,
    batch_size=None,
    step=-1,      # loads state.pt
    device="cpu", # forces CPU
)

mixed_df

                 quadratic_3  quadratic_6
linear_examples
2                   1.395572     0.621353
4                   2.164689     1.448949

In [ ]:
run_dir_random = "../models/dual_random/561208dd-1ba4-4de1-a0b9-fa90166ca896"

random_df = run_dual_eval(
    run_dir=run_dir_random,
    a_examples=[0, 2, 5, 7, 10, 15, 20, 25, 30],
    b_examples=[2, 5, 7, 10, 15, 20, 25, 30, 35],
    trials=20,
    batch_size=None,
    step=-1,      # loads state.pt
    device="cpu", # forces CPU
)

random_df

                 quadratic_3  quadratic_6
linear_examples
2                   1.578269     0.745997
4                   1.565465     1.298207